@import "tailwindcss";

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom, 0.5rem);
  }
}

@media print {
  body {
    background-color: white !important;
    color: black !important;
  }
}
